<div class="example-container">
  <form [formGroup]="signUpForm" (ngSubmit)=OnSubmit()>
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" type="text" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName" type="text" v>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" type="text" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" required minlength="6">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Re-Type Password" formControlName="reTypePassword" type="password" required>
      <mat-error *ngIf="signUpForm.controls.reTypePassword.errors?.MatchPassword">Password does not match</mat-error>
      </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Suscription Type" formControlName="suscriptionType">
        <mat-option *ngFor="let sus of suscriptionDropDown" [value]="sus.value">{{sus.display}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
        <button mat-stroked-button type="submit" [disabled]="!signUpForm.valid">Sign Up</button>
    </div>
  </form>
</div>
