

<body>
  <header class="home-header">
      <div class="parallax">
    <video preload="preload" id="video" autoplay="autoplay" loop="loop">
      <source src="../../assets/Vendors/videos/19494541-preview.mp4" type="video/mp4">
    </video>
  </div>
    <div class="overlay"></div>
    <div class="home-message">
      <h1>ProXsure</h1>
      <h3>Meeting Inspiring Mentors, Training Aspiring Leaders</h3>
      <div class="sign-in-div">
        <a class="home-button" routerLink="/signup">Sign Up</a>
      </div>
      <div class="mentor-div">
        <a class="home-link" href="#">Be a Mentor</a>
      </div>

    </div>
  </header>

  <section class="section-explanation">
    <div class="section group div-explanation">
      <div class="col span_1_of_4">
       <span class="ion-ios-person-add"></span>
        <h3>Create Profile</h3>
        <p>Create a user profile and suscribe on Proxsure to get access to mentorship in different professions and
          career.</p>
      </div>
      <div class="col span_1_of_4">
        <span class="ion-ios-search"></span>
        <h3>Areas of Interest</h3>
        <p>Search for areas of interest to locate mentors and enroll into a mentorship class of choice to begin your
          mentorship journey.</p>
      </div>
      <div class="col span_1_of_4">
        <span class="ion-ios-git-compare"></span>
        <h3>Be Mentored</h3>
        <p>Meet in sessions with Mentors, interact and acquire knowledge.</p>
      </div>
      <div class="col span_1_of_4">
<span class="ion-ios-infinite"></span>
        <h3>Be Future Assured</h3>
        <p>Kickstart or advance your career getting employed by the host of Job providers on our board or simply take the knowledge out there and change the world.</p>
      </div>
    </div>
    <div></div>
  </section>

  <section>

  </section>
</body>
