/* You can add global styles to this file, and also import other style files */
@import '../node_modules/raleway-webfont/raleway.css';
@import './assets/Vendors/Style/responsivegridsystem/css/col.css';
@import './assets/Vendors/Style/responsivegridsystem/css/2cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/3cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/4cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/5cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/6cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/7cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/8cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/9cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/10cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/11cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/12cols.css';
@import './assets/Vendors/Style/responsivegridsystem/css/html5reset.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  font-family: 'Raleway';
}
html,
body{
  height: 100%;
}
